<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-moverio"
    version="1.0.0">
    <name>Cordova Moverio Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/robberthalff/cordova-plugin-moverio.git</repo>
    <issue>https://github.com/robberthalff/cordova-plugin-moverio/issues</issue>

    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>
        <clobbers target="moverio" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="MoverioPlugin">
          <param name="android-package" value="com.robberthalff.MoverioPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/robberthalff/MoverioPlugin.java" target-dir="src/com/robberthalff/" />
    </platform>
</plugin>
